{% extends "taskmanager/base.html" %}
{% block content %}
    {% if events %}
        {%  for event in events %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="'mr-2" href=""#>{{ event.author }}</a>
                    <small class="text-muted">{{ event.due }}</small>
                </div>
                <h2><a class="'article-title" href = "{% url 'event-detail' event.id %}">{{ event.name }}</a></h2>
                <p class="article-content">{{ event.description }}</p>
                </div>

            </div>
            </article>
        {% endfor %}
        {% else %}
        <center>
        <h1>No Events</h1>
            <p>Please add Events by clicking on add button</p>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'new'%}">Add Event</a>
        </center>
    {% endif %}
{% endblock content %}